@font-face {
    font-family: 'Stolzl-Light';
    src: url('Stolzl-Light.woff2') format('woff2'),
        url('Stolzl-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl-Book';
    src: url('Stolzl-Book.woff2') format('woff2'),
        url('Stolzl-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl-Medium';
    src: url('Stolzl-Medium.woff2') format('woff2'),
        url('Stolzl-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl-Regular';
    src: url('Stolzl-Regular.woff2') format('woff2'),
        url('Stolzl-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl-Thin';
    src: url('Stolzl-Thin.woff2') format('woff2'),
        url('Stolzl-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl-Bold';
    src: url('Stolzl-Bold.woff2') format('woff2'),
        url('Stolzl-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

